#card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bento-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three equal columns */
	gap: 20px; /* Space between the cards */
}

.card-title {
	font-size: 1.2em;
	font-weight: 700;
	display: flex;
	align-items: center;


}

#add-form {
	filter:opacity(0.1);
}

#add-form:hover {
	filter:opacity(0.5);
}


.star-container {
    position: relative;
    width: 40px; /* Match the width of the images */
    height: 40px; /* Match the height of the images */
}

#star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; /* Ensures the checkbox is above the images */
    opacity: 0; /* Hide the checkbox */
    width: 100%;
    height: 100%;
    cursor: pointer; /* Make it clickable */
}

#star-selected,
#star-unselected {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

#star-selected {
    z-index: 2; /* Below the checkbox but above unselected */
    display: none; /* Hidden by default */
}

#star-unselected {
    z-index: 1; /* Bottom-most layer */
}

/* Show/hide images based on checkbox state */
#star:checked + #star-selected {
    display: block;
}

#star:checked ~ #star-unselected {
    display: none;
}


.card-title {
	display: flex !important;
	align-items: center !important;
}

.col {
	text-align: left !important; /* Left-aligns all content inside the column */
  }
  
  #dates {
	display: flex;
	justify-content: right;
  }
  

.badge {
    margin: 5px !important;
    font-size: 1.1em !important;
}

.custom-gray-badge {
    background-color: rgb(191, 191, 191);
  }