#card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bento-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three equal columns */
	gap: 20px; /* Space between the cards */
}

.card-title {
	font-size: 1.2em;
	font-weight: 700;
	display: flex;
	align-items: center;


}

#add-form {
	filter:opacity(0.1);
}

#add-form:hover {
	filter:opacity(0.5);
}




.card-title {
	display: flex !important;
	align-items: center !important;
}

.col {
	text-align: left !important; /* Left-aligns all content inside the column */
  }
  
  #dates {
	display: flex;
	justify-content: right;
  }
  

.badge {
    margin: 5px !important;
    font-size: 1.1em !important;
}

.custom-gray-badge {
    background-color: rgb(191, 191, 191);
  }

  abbr {
	position: relative;
	cursor: help;
}

abbr:hover::after {
	content: attr(title);
	position: absolute;
	right:  100%; /* Make it appear on the left */
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 0;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s ease-in-out; /* Smooth fade-in */
}

abbr::after {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out;
}


/* Hide the scrollbar but keep functionality */
::-webkit-scrollbar {
    width: 0px;   /* Vertical scrollbar */
    height: 0px;  /* Horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;  /* Make the thumb invisible */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;  /* Make the track invisible */
  }
  